body{
    background-color: crimson;
}
#sda{
    color: white;
    margin: 10px;
}
#note{
    color: white;
    margin: 10px;
}
#buttttn{
    background-color: rgb(230, 33, 171);
    margin: 10px;
}
#ich{
    color: white;
    margin: 10px;
}
#dev{
    color: white;
    margin: 50px;
    text-align: center;
    font-size: 20px;
}
#divi{
    background-color: #FDD835;
    margin-top: 35px;
}